* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 64px;
    padding-right: 64px;
}

body {
    background-color: black;
}

nav {
    height: 100px;
    padding: 30px 0;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: black;
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.nav-container ul {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.nav-container ul .nav-item {
    color: white;
}

.nav-container ul a::after {
    display: block;
    opacity: 0;
    content: "";
    background-color: white;
    height: 1px;
    width: 100%;
    transition: opacity 0.2s ease;
}

.nav-container ul a:hover::after {
    opacity: 1;
}

#menu-btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

#mobile-nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    margin-top: 75px;
    height: max-content;
    min-width: 200px;
    width: max-content;
    float: right;
    display: none;
    flex-direction: column;
    background-color: #292929;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 20px;
}

#mobile-nav-menu a {
    display: block; 
    color: white;
    font-size: 1.3rem;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

#mobile-nav-menu a:first-child{
    border-top-left-radius: 8px;
}

#mobile-nav-menu a:last-child{
    border-bottom-left-radius: 8px;
}

#mobile-nav-menu a:hover {
    background-color: #303030;
}

@media screen and (max-width: 768px) {
    nav.navbar {
        padding-left: 32px;
        padding-right: 32px;
    }
    .nav-container ul {
        display: none;
    }

    #menu-btn {
        display: block;
    }

    #mobile-nav-menu.active {
        display: flex;
    }
}

.main-header {
    margin-top: 250px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header .main-header-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#portal {
    width: 90px;
    height: 90px;
}

.main-header-text {
    display: flex;
    flex-direction: column;
}

.main-header-top-text .header-role,
.main-header-top-text .header-name {
    color: white;
    font-weight: 900;
    font-size: 8rem;
}

.main-header-top-text .header-role {
    line-height: 115px;
}

.main-header-top-text .header-name {
    color: black;
    -webkit-text-stroke: white 2px;
}

#download-resume {
    height: 35px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #292929;
    font-size: 1rem;
    padding: 0 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#download-resume i {
    margin-right: 5px;
}

#download-resume:hover {
    background-color: #303030;
}

#header-image {
    height: 500px;
    border-radius: 100%;
    border: 5px solid white;
}

@media screen and (max-width: 1420px) {
    .main-header-top-text .header-role,
    .main-header-top-text .header-name {
        font-size: 5.5rem;
    }

    .main-header-top-text .header-role {
        line-height: 80px;
    }

    #header-image {
        height: 400px;
    }

    #portal {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 1100px) {
    .main-header {
        margin-top: 200px;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .main-header-top-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-header-top-text .header-role,
    .main-header-top-text .header-name {
        text-align: center;
        font-size: 6rem;
    }

    .main-header-top-text .header-role {
        line-height: 100px;
    }

    #header-image {
        height: 150px;
    }
}

@media screen and (max-width: 640px) {
    .main-header-top-text .header-role,
    .main-header-top-text .header-name {
        font-size: 4.5rem;
    }

    .main-header-top-text .header-role {
        line-height: 80px;
    }
}

@media screen and (max-width: 375px) {
    .main-header-top-text .header-role,
    .main-header-top-text .header-name {
        font-size: 3.5rem;
    }

    .main-header-top-text .header-role {
        line-height: 60px;
    }
}